.pagina-completa{
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
} 
header {
    grid-area: header;
}
footer{
    grid-area: footer;
    }

    /*...........................main mobile....PAGINA INICIAL..............*/
    main{
        grid-area: main;
        display: grid;
        grid-template-areas: 
        "main-logo"
        "main-descripcion";

            .main-logo {
            grid-area: main-logo;
            text-align: center;
            margin-top: auto;
        }

            .main-descripcion{
            background-color: $color-primary;
            grid-area: main-descripcion;
            justify-content: center;
            color: brown;
        }
    }

    .logo img{
            max-width: 150px;   
        }
    .fondo-color{
        background-image: linear-gradient($color-primary,$color-gradiente);
            height: 200px;
            margin: auto;
        }
    .parrafo{
    color: #522903;
    }
    .boton{
        font-family: 'Kanit', sans-serif;
        font-weight: bolder;
        text-align: center;
    }
    .Churros-rosario{
        @extend .boton;
        font-size: 1.5em;
        color:#522903;
        margin: 20px 40px;  
        }

    $varios:(
    1:#ff6600,
    2:brown,
    3:red,
    );
    @each $parrafo, $color in $varios{
    .parrafo#{$parrafo}{color: $color;}
    }

    .parrafo, .parrafo1, .parrafo2,.parrafo3{
        @extend .boton;
        margin: 20px 10px;  
        font-size: 1.5em;
        }
    .video{
            display: none;
        }
    @mixin image($tamano1, $tamano2) {
            max-width:$tamano1;
            margin-left:$tamano2;      
    }
    .parrafo3 img, .parrafo1 img, .parrafo4 img{
           @include image(80px, 5px)
        }
 /*-------------------------------main mobile pagina MENU--------------*/

.churros-rellenos img, .churros-comunes img, .delgados img, .bañados img, .delgados-bañados img, .picachurros img{  
     max-width: 40px;
}

.rellenos, .comunes, .churritos, .churros-bañados, .churritos-bañados, .pica{
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    color:$color-gradiente;
} 
.navegacion-menu{
    background-image: linear-gradient($color-primary, #a52a2a4f);
    display:grid;
    justify-content:start;
    grid-template-areas: 
    "producto1"
    "producto2"
    "producto3"
    "producto4"
    "producto5"
    "producto6";
}

 .producto1{
    grid-area: producto1;
   
}
.producto2{
    grid-area: producto2;
}
.producto3{
    grid-area: producto3;
}
.producto4{
    grid-area: producto4;
}
.producto5{
    grid-area: producto5;
}
.producto6{
    grid-area: producto6;
}
.titulo-envios{
    font-family: 'Kanit', sans-serif;
    color: #C89265; 
    text-align: center;
    font-size: 2em;
  }
header{
    grid-area:header;
}
    ul{
    list-style: none;
    }

/*---------------------------header-MOBILE- MENU........................*/
.pagina-menu{
display: grid;
grid-template-areas: 
"header-menu"
"into-menu"
"redessociales";
}
.header-menu{
grid-area: header-menu;
}
.into-menu{
grid-area: into-menu;
}
.redessociales{
grid-area: redessociales;
}

/*------------------------- header-MOBILE-PEDIDOS -----------------*/
.pagina-pedidos{
display: grid;
grid-template-areas: 
"header-pedidos"
"mapa"
"redessociales";
}
.header-pedidos{
grid-area: header-pedidos;
}
.mapa{
grid-area: mapa;
}
.mapa img{
max-width: fit-content;
}
.redessociales{
grid-area: redessociales;
}
    /*..............................footer mobile...pagina inicial................*/
footer{
background-color: $color-primary; 
margin-left: 0%;
.titulo-footer, .redes{ 
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    color:$color-gradiente; 
    margin: 20px 40px;  
    text-align: start; }
    
.texto-footer-somos{
     @extend .boton;
     font-size: 1em;
     color:$color-gradiente; 
     margin: 20px 10px;  
    }
}

/*imagenes redes sociales*/
.instagram img{
max-width: 35px;
}
.phone img{
max-width: 63px;
}

.face img{
max-width: 55px;
}
.navbar{
    background-color: #b36002ab !important;
    font-family: 'Kanit', sans-serif !important;
    font-weight: bold !important; 
    }

